<ns_Startup__settings><Arnold_RLM>5053@NS-Rendermaster</Arnold_RLM><WOL_0 Address="00:11:32:2C:6C:8F" Description="NAS" startUp="True" /><WOL_1 Address="F4:4D:30:69:E2:07" Description="NS-Rendermaster" startUp="False" /><WOL_2 Address="90:2B:34:57:F6:C6" Description="NS-Farmer01" startUp="False" /><WOL_3 Address="" Description="" startUp="False" /><WOL_2 Address="90:2B:34:57:F6:C6" Description="NS-Farmer01" startUp="False" /><WOL_2 Address="90:2B:34:57:F6:C6" Description="NS-Farmer01" startUp="False" /></ns_Startup__settings>